name: APKForge CI

on:
  push:
    branches: ["main", "dev"]
  pull_request:
    branches: ["main", "dev"]
  workflow_dispatch:
    inputs:
      build_type:
        description: 'Select build type'
        required: true
        default: 'debug'
        type: choice
        options:
          - debug
          - release

jobs:
  Forge:
    uses: Xavatar3/ci-template/.github/workflows/APKForge.yml@main
    #with:
      #build_type: ${{ github.event.inputs.build_type }}